:root {
    --light-pink: hsl(275, 100%, 97%);
    --grayish-purple: hsl(292, 16%, 49%);
    --dark-purple: hsl(292, 42%, 14%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    padding: 50px;
    margin: 0;
    background-color: var(--light-pink);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

#top-pattern {
    position: fixed;
    top: 0;
}

#container {
    background-color: white;
    /* position: absolute; */
    top: 15%;
    max-width: 600px;
    width: 100%;
    padding: 40px 40px 15px 40px;
    border-radius: 15px;
    z-index: 2;
}

.attribution {
    /* position: fixed; */
    bottom: 0;
    z-index: 1;
}

#header {
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 28px;
}

#header h1 {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 25px;
}

.content-block {
    border-bottom: solid 1px var(--light-pink);
    padding-top: 20px;
    padding-bottom: 20px;
}

.content-block:last-child {
    border-bottom: none;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

label {
    padding: 0;
    margin: 0;
}

label:hover {
    color: #ad28eb;
    cursor: pointer;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

.answer {
    display: none;
    color: var(--grayish-purple);
}

.close-icon {
    display: none;
}